.pagination {
    margin: 25px auto;
    display: flex;
    justify-content: center;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: grey;
    border-color:grey;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid grey;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color:grey;
    border-color: grey;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: grey;
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }
  img{
      display: block;
      margin:0 auto;
  }
  .page{
      margin-bottom: 10px;
  }
  .page:first-child{
      margin-top:10px;
  }